APP_NAME=Wuba 58 City Models
APP_ENV=production
APP_KEY=base64:PASTE_YOUR_GENERATED_KEY_HERE
APP_DEBUG=false
APP_URL=https://wuba58.onrender.com
APP_TIMEZONE=Africa/Nairobi
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_MAINTENANCE_DRIVER=file

LOG_CHANNEL=stderr
LOG_LEVEL=error

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=file
CACHE_PREFIX=wuba-58

QUEUE_CONNECTION=sync

FILESYSTEM_DISK=public

DB_CONNECTION=pgsql
DATABASE_URL=postgresql://wuba58_db_user:eO40oPpVJDU26ObMieLnECNXjkzvBM1T@dpg-dar8j6bncjis73ci103g-a/wuba58_db

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=wilsonochieng718@gmail.com
MAIL_PASSWORD=gghhhhh
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=wilsonochieng718@gmail.com
MAIL_FROM_NAME="Wuba 58 City Models"
MAIL_CONTACT_RECIPIENT=wilsonochieng718@gmail.com

BROADCAST_CONNECTION=log